/*
 * layout
 */

/* display */
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.hidden { display: none; }
.hider, .invisible { visibility: hidden; }
.visible { visibility: visible; }
.transparent { opacity: 0; }
.translucent { opacity: 0.7; }

/* dimensions */
.full { width: 100%; height: 100%; }
.hm1 { max-height: 100%; }
.wm1 { max-width: 100%; }
.hm1-2 { max-height: 50%; }
.wm1-2 { max-width: 50%; }
.hm200p { max-height: 200px; }
.wm200p { max-width: 200px; }
.h1 { height: 100%; }
.h1-2 { height: 50%; }
.h1-3 { height: 33%; }
.h2-3 { height: 66%; }
.h1-4 { height: 25%; }
.h3-4 { height: 75%; }
.h1-5 { height: 20%; }
.h2-5 { height: 40%; }
.h3-5 { height: 60%; }
.h4-5 { height: 80%; }
.h1-10 { height: 10%; }
.h3-10 { height: 30%; }
.h7-10 { height: 70%; }
.h9-10 { height: 90%; }
.h1-20 { height: 5%; }
.h3-20 { height: 15%; }
.h7-20 { height: 35%; }
.h9-20 { height: 45%; }
.h11-20 { height: 55%; }
.h13-20 { height: 65%; }
.h17-20 { height: 85%; }
.h19-20 { height: 95%; }
.w1 { width: 100%; }
.w1-2 { width: 50%; }
.w1-3 { width: 33%; }
.w2-3 { width: 66%; }
.w1-4 { width: 25%; }
.w3-4 { width: 75%; }
.w1-5 { width: 20%; }
.w2-5 { width: 40%; }
.w3-5 { width: 60%; }
.w4-5 { width: 80%; }
.w1-10 { width: 10%; }
.w3-10 { width: 30%; }
.w7-10 { width: 70%; }
.w9-10 { width: 90%; }
.w1-20 { width: 5%; }
.w3-20 { width: 15%; }
.w7-20 { width: 35%; }
.w9-20 { width: 45%; }
.w11-20 { width: 55%; }
.w13-20 { width: 65%; }
.w17-20 { width: 85%; }
.w19-20 { width: 95%; }

/* position */
.abs { position: absolute !important; }
.fixed { position: fixed !important; }
.relative { position: relative !important; }
.high { z-index: 100 !important; }
.higher { z-index: 200 !important; }
.highest { z-index: 300 !important; }
.above { z-index: 1000 !important; }
.mosthigh { z-index: 99999 !important; }
.low { z-index: -100 !important; }
.lower { z-index: -200 !important; }
.lowest { z-index: -300 !important; }
.below { z-index: -1000 !important; }
.right { float: right; }
.left { float: left; }
.clearnode { clear: both; }
.centered { text-align: center; }
.centered > div {
    margin-left: auto;
    margin-right: auto;
}
.vtop { vertical-align: top; }
.vmiddle { vertical-align: middle; }
.vbottom { vertical-align: bottom; }
.up10 { margin-top: -10px; }
.down10 { margin-bottom: -10px; }
.left10 { margin-left: -10px; }
.right10 { margin-right: -10px; }

/* absolute / fixed */
.top0 { top: 0px; }
.bottom0 { bottom: 0px; }
.left0 { left: 0px; }
.right0 { right: 0px; }
.all0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.all10 {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}
.ctr {
    top: 10px;
    right: 10px;
}
.ctl {
    top: 10px;
    left: 10px;
}
.cbr {
    bottom: 10px;
    right: 10px;
}
.cbl {
    bottom: 10px;
    left: 10px;
}

/* size */
.big { font-size: 120%; }
.bigger { font-size: 140%; }
.biggest { font-size: 180%; }
.biggerest { font-size: 230%; }
.biggerester { font-size: 300%; }
.gigantic { font-size: 400%; }
.small { font-size: 80%; }
.smaller { font-size: 60%; }
.smallest { font-size: 40%; }
.smallerest { font-size: 30%; }
.tiny { font-size: 25%; }

/* appearance */
.m0 { margin: 0px !important; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.mh5 {
    margin-right: 5px;
    margin-left: 5px;
}
.mv5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.p0 { padding: 0px !important; }
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.p30 { padding: 30px; }
.ph10 {
    padding-right: 10px;
    padding-left: 10px;
}
.pv10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pr15 {
    padding-right: 15px;
}
.bold { font-weight: bold; }
.italic { font-style: italic; }
.bordered { border: 1px solid black; }
.noborder { border: 0px; }
.round {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.rounder {
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.blockquote {
    padding: 50px !important;
    text-align: justify;
}

/* behavior */
.border-box { box-sizing: border-box; }
.wrap { word-wrap: break-word; }
.nowrap { white-space: nowrap; }
.nonowrap { white-space: normal; }
.pointer { cursor: pointer; }
.scroller { overflow: auto; }
.noflow { overflow: hidden; }
.scrollx { overflow-x: auto !important; overflow-y: hidden; }
.scrolly { overflow-y: auto !important; overflow-x: hidden; }
.hoverglow:hover {
    box-shadow: 0px 0px 10px yellow;
    color: yellow;
}

/* required CT classes */
.activetab a {
    color: #670002;
}
.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}
.backdrop-img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.bare {
    padding: 0px !important;
    margin: 0px !important;
}
.basicmodal {
    z-index: 5;
    position: fixed;
    padding: 10px;
    background: white;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    max-height: 400px;
    width: 550px;
    margin-top: -200px;
    margin-left: -275px;
    overflow-y: auto;
}
.basicpopup {
    z-index: 1000;
    position: fixed;
    padding: 10px;
    max-height: 60%;
    max-width: 60%;
    background: white;
    border: 1px solid black;
}
.bb {
    box-sizing: border-box;
}
.blue {
    color: #010068;
}
.bordered-gray {
    border: 1px solid #ccc;
}
.bottom {
    bottom: 10px;
}
.bottom_out {
    bottom: -150px !important;
}
.bottompadded {
    padding-bottom: 10px;
}
.toppadded {
    padding-top: 10px;
}
.bottombordered {
    border-bottom: 1px solid black;
}
.button_row {
    position: absolute;
    text-align: center;
    pointer-events: none;
    -webkit-transition: top 1s, bottom 1s;
    -moz-transition: top 1s, bottom 1s;
    -o-transition: top 1s, bottom 1s;
    transition: top 1s, bottom 1s;
    right: 0px;
    left: 0px;
}
.button_row div {
    margin: 2px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.75);
    pointer-events: auto;
    cursor: pointer;
}
.centeredimg img {
    margin-left: auto;
    margin-right: auto;
}
.centeredpopup {
    z-index: 5;
    position: fixed;
    padding: 10px;
    background: white;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    max-height: 400px;
    width: 550px;
    margin-top: -200px;
    margin-left: -275px;
    text-align: center;
    overflow-y: auto;
}
.choice_cell {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
.choice_cell:hover {
    background: lightgray;
}
.filler {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
}
.fullheight {
    height: 100%;
}
.fullwidth {
    width: 100%;
}
.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gray {
    color: gray;
}
.grayback {
    background: gray;
}
.grayback-trans {
    background-color: rgba(100, 100, 100, 0.8);
}
.halfheight {
    height: 50%;
}
.halfwidth {
    width: 50%;
}
.thirdwidth {
    width: 33%;
}
.fourthwidth {
    width: 25%;
}
.leftalign {
    text-align: left;
}
.lfloat {
    float: left;
}
.nodecoration,
.nodecoration a {
    text-decoration: none;
}
.padded {
    padding: 10px;
}
.padded5 {
    padding: 5px;
}
.tabbed {
    padding-left: 20px;
}
.red {
    color: red;
}
.redback {
    background: red;
}
.rightround {
    border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
}
.rpaddedsmall {
    padding-right: 2px;
}
.shiftleft {
    margin-left: -18px;
}
.shiftup {
    margin-top: -5px;
}
.shiftright {
    margin-right: -15px;
}
.shiftdown {
    margin-bottom: -15px;
}
.shiftall {
    margin: -15px;
}
.tooltip {
    position: absolute;
    border: 1px solid gray;
    background: white;
    padding: 2px;
}
.top {
    top: 10px;
}
.top_out {
    top: -250px !important;
}
.unlimited {
    max-height: 100% !important;
    max-width: 100% !important;
}
.vcrunch {
    margin-top: -25px;
    margin-bottom: -25px;
}
.h50 {
    height: 50px;
}
.h100 {
    height: 100px;
}
.h20p {
    height: 20%;
}
.w100 {
    width: 100px;
}
.w280 {
    width: 280px;
}
.w20p {
    width: 20%;
}
.white {
    color: white;
}
.black {
    color: black;
}
.whiteback {
    background: white;
}
.whitebacktrans {
    background: rgba(255, 255, 255, 0.9);
}
.whitelink a {
    color: white;
}
/* drop classes */
.drop {
  z-index: 10;
  position: absolute;
  max-height: 0px;
  text-align: left;
  overflow: hidden;
  -webkit-transition: max-height 600ms ease-out;
}
.drop-rows div div {
  padding: 5px 15px;
  border-bottom: 1px solid gray;
  background: lightgray;
  cursor: pointer;
}
.drop-rows div div:hover, .drop-selection {
  color: white;
  font-weight: bold;
  background-color: darkgray !important;
}
.drop-open {
    max-height: 200px;
}
/* Slider classes */
.carousel {
    position: absolute;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    background: black;
    transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
}
.indicator-circle {
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(100, 100, 100, 0.8);
    min-width: 50px;
    min-height: 40px;
    font-size: 150%;
    color: white;
    font-weight: bold;
}
.labeled-circle {
    padding: 15px;
}
.unlabeled-circle {
    width: 15px;
}
.active-circle {
    background-color: rgba(200, 200, 200, 0.8);
}
.bp-left {
    background-position: left;
    background-size: cover;
}
.bp-right {
    background-position: right;
    background-size: cover;
}
.carousel-content-container {
    position: relative;
    color: white;
}
.carousel-content-image {
    z-index: 100;
    position: absolute;
    top: 0px;
    right: 0px;
}
.carousel-pulse {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40%;
    height: 30%;
}
.carousel-content-teaser {
    z-index: 200;
    padding: 10px;
    width: 56%;
    min-height: 28%;
    white-space: normal;
    position: absolute;
    top: 100px;
    left: 22.5%;
    border-radius: 15px;
}

.cc-teaser-trans {
    background-color: rgba(100, 100, 100, 0.7);
}

.cc-teaser-opaque {
    background-color: rgba(100, 100, 100, 1);
}

.carousel-content-full {
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    top: 30%;
    right: 10px;
    left: 10px;
    bottom: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.25);
    white-space: normal;
    overflow-x: hidden;
    overflow-y: auto;
}
.carousel-content-full>div {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}
.carousel-order-indicator {
    text-align: center;
    position: absolute;
    width: 100%;
}
.slider-btn {
    position: absolute;
    color: white;
    font-size: 1000%;
    font-weight: bold;
    z-index: 1001;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #fff;
    background-color: rgba(200, 200, 200, 0.6);
}
.slider-btn span {
    line-height: 1;
}
.sb-middle {
    top: 50%;
    margin-top: -100px;
}
.sb-top {
    top: 90px;
}
.sb-vertical div {
    transform: rotate(90deg);
}
.sb-bottom {
    bottom: 90px;
}
.fullbottom {
    left: 10px;
    right: 10px;
    bottom: 10px;
}
.nxt {
    right: 10px;
}
.prv {
    left: 10px;
}

/* required CT ids */
#ctheader {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 45px;
    padding: 30px;
    border-radius: 0px 0px 7px 7px;
    overflow: hidden;
    z-index: 10000;
}
#ctfooter {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 120px;
}
#top_buttons {
    top: 3px;
}
#bottom_buttons {
    bottom: 30px;
}
#resize_btn, #mobile_menu_btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 10;
}
#resize_btn {
    left: 5px;
}
#mobile_menu_btn {
    right: 5px;
}
#resize_btn div, #mobile_menu_btn div {
    background: rgba(255, 255, 255, 0.75);
}
#mobile_search {
    width: 90%;
}
#mobile_search_node {
    display: block;
    height: 35px;
    margin-right: 65px;
    margin-left: 65px;
}
#mobile_search_node div {
    display: block;
    margin-top: -5px;
}

/* some extras for funsies */
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
.overlay:hover {
    opacity: 1;
}
.margined {
    margin: 5px;
}
button, a, .pointer {
    cursor: pointer;
}

.lister {
    border: 1px solid darkgray;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}

.keycell {
    float: left;
    width: 180px;
    font-weight: bold;
}

/* loading spinner */
/* source: https://css-tricks.com/examples/Loading/ */
.ctswrap {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.ctspinner {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    background: #ccc;
    font: 12px "Lucida Grande", Sans-Serif;
    text-align: center;
    line-height: 100px;
    color: white;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.ctspinner:before {
    z-index: -2;
    content: "";
    position: absolute;
      left: -20px;
       top: -20px;
    bottom: -20px;
     right: -20px;
    -webkit-border-radius: 70px;
       -moz-border-radius: 70px;
            border-radius: 70px;
    background: #eee;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
.ctspinner span {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid rgba(255,255,255,0.7);
    top: -28px;
    left: 0px;
    -webkit-animation: ticktock 5s linear infinite;
    -webkit-transform-origin: 50px 80px;
}
.ctspinner strong {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    -webkit-animation: expand 2.5s linear infinite;
}

@-webkit-keyframes expand {
    0% {
            width: 0;
    }
    100% {
            width: 60px;
    }
}

@-webkit-keyframes ticktock {
    0% {
            -webkit-transform: rotate(0);
    }
    100% {
            -webkit-transform: rotate(360deg);
    }
}