/* required CT classes */
.abs {
    position: absolute;
}
.activetab a {
    color: #670002;
}
.basicpopup {
    z-index: 5;
    position: fixed;
    padding: 10px;
    background: white;
    border: 1px solid black;
}
.bigger {
    font-size: 140%;
}
.biggest {
    font-size: 180%;
}
.blue {
    color: #010068;
}
.bold {
    font-weight: bold;
}
.bordered {
    border: 1px solid #d3d3d3;
}
.bottom_out {
    bottom: -150px !important;
}
.bottompadded {
    padding-bottom: 10px;
}
.button_row {
    position: absolute;
    text-align: center;
    pointer-events: none;
    -webkit-transition: top 1s, bottom 1s;
    -moz-transition: top 1s, bottom 1s;
    -o-transition: top 1s, bottom 1s;
    transition: top 1s, bottom 1s;
    right: 0px;
    left: 0px;
}
.button_row div {
    margin: 2px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.75);
    pointer-events: auto;
    cursor: pointer;
}
.centered {
    text-align: center;
}
.centeredimg img {
    margin-left: auto;
    margin-right: auto;
}
.centeredpopup {
    z-index: 5;
    position: fixed;
    padding: 10px;
    background: white;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    max-height: 400px;
    width: 550px;
    margin-top: -200px;
    margin-left: -275px;
    text-align: center;
    overflow-y: auto;
}
.choice_cell {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
.choice_cell:hover {
    background: lightgray;
}
.clearnode {
    clear: both;
}
.fullwidth {
    width: 100%;
}
.gray {
    color: gray;
}
.grayback {
    background: gray;
}
.hidden {
    display: none;
}
.lfloat {
    float: left;
}
.nodecoration,
.nodecoration a {
    text-decoration: none;
}
.nowrap {
    white-space: nowrap;
}
.padded {
    padding: 10px;
}
.red {
    color: red;
}
.right {
    float: right;
}
.round {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.rpaddedsmall {
    padding-right: 2px;
}
.shiftleft {
    margin-left: -18px;
}
.small {
    font-size: 80%;
}
.tooltip {
    position: absolute;
    border: 1px solid gray;
    background: white;
    padding: 2px;
}
.top_out {
    top: -250px !important;
}
.vmiddle {
    vertical-align: middle;
}
.w280 {
    width: 280px;
}
/* autocomplete classes */
.autocomplete {
  z-index: 10;
  position: absolute;
  max-height: 0px;
  background: white;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: height 300ms ease-out;
}
.autocomplete div div {
  padding: 5px 15px;
  border-bottom: 1px solid gray;
  background: lightgray;
  cursor: pointer;
}
.autocomplete div div:hover {
  color: white;
  font-weight: bold;
  background-color: darkgray;
}
.autocomplete-open {
    max-height: 200px;
}
.hider {
    visibility: hidden;
}
/* Slider classes */
.carousel {
    position: absolute;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
}
.indicator-circle {
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: #6a6a6a;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.active-circle {
    background-color: white;
}
.carousel-container {
    background-color: #404041;
    height: 100%;
    white-space: nowrap;
}
.carousel-content-container {
    height: 100%;
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: white;
}
.carousel-content-image {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    transition: width 1s, height 1s;
    -moz-transition: width 1s, height 1s;
    -webkit-transition: width 1s, height 1s;
}
.carousel-content-teaser {
    padding: 10px;
    margin: 10px;
    width: 55%;
    white-space: normal;
    position: absolute;
    top: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
}
.carousel-content-full {
    z-index: -1;
    padding: 10px;
    position: absolute;
    top: 30%;
    right: 100px;
    left: 100px;
    bottom: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    white-space: normal;
}
.carousel-retracted {
    width: 40%;
    height: 30%;
}
.carousel-order-indicator {
    text-align: center;
    position: absolute;
    width: 100%;
}
.slider-btn {
    position: absolute;
    top: 50%;
    height: 100px;
    margin-top: -150px;
    cursor: pointer;
    color: white;
    font-size: 1000%;
    font-weight: bold;
    z-index: 1001;
}
.slider-btn:hover {
    color: yellow;
}
.top {
    top: 10px;
}
.bottom {
    bottom: 10px;
}
.nxt {
    right: 10px;
}
.prv {
    left: 10px;
}

/* required CT ids */
#top_buttons {
    top: 3px;
}
#bottom_buttons {
    bottom: 30px;
}
#resize_btn, #mobile_menu_btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    z-index: 10;
}
#resize_btn {
    left: 5px;
}
#mobile_menu_btn {
    right: 5px;
}
#resize_btn div, #mobile_menu_btn div {
    background: rgba(255, 255, 255, 0.75);
}
#mobile_search {
    width: 90%;
}
#mobile_search_node {
    display: block;
    height: 35px;
    margin-right: 65px;
    margin-left: 65px;
}
#mobile_search_node div {
    display: block;
    margin-top: -5px;
}

/* some extras for funsies */
.big {
    font-size: 120%;
}
.italic {
    font-style: italic;
}
.margined {
    margin: 5px;
}
button, .pointer {
    cursor: pointer;
}
.scroller {
    overflow: scroll;
}
.smaller {
    font-size: 60%;
}
.transparent {
    opacity: 0;
}

.lister {
    border: 1px solid darkgray;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}

.keycell {
    float: left;
    width: 180px;
    font-weight: bold;
}

/* loading spinner */
/* source: https://css-tricks.com/examples/Loading/ */
.ctswrap {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.ctspinner {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    background: #ccc;
    font: 12px "Lucida Grande", Sans-Serif;
    text-align: center;
    line-height: 100px;
    color: white;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.ctspinner:before {
    z-index: -2;
    content: "";
    position: absolute;
      left: -20px;
       top: -20px;
    bottom: -20px;
     right: -20px;
    -webkit-border-radius: 70px;
       -moz-border-radius: 70px;
            border-radius: 70px;
    background: #eee;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
.ctspinner span {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid rgba(255,255,255,0.7);
    top: -28px;
    left: 0px;
    -webkit-animation: ticktock 5s linear infinite;
    -webkit-transform-origin: 50px 80px;
}
.ctspinner strong {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    -webkit-animation: expand 2.5s linear infinite;
}

@-webkit-keyframes expand {
    0% {
            width: 0;
    }
    100% {
            width: 60px;
    }
}

@-webkit-keyframes ticktock {
    0% {
            -webkit-transform: rotate(0);
    }
    100% {
            -webkit-transform: rotate(360deg);
    }
}