body {
	font-family: "Andale Mono", AndaleMono, monospace;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: overline;
}

#ctheader {
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	background-image: url("/img/lines.png");
	background-size: contain;
}
