html, body {
	height: 100%;
	overflow: hidden;
}

a {
	font-weight: bold;
	text-decoration: none;
}

#dbpanels {
	border: 1px solid black;
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 100px;
	background: gray;
}

#dbitems {
	border: 1px solid black;
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 35px;
	width: 90px;
	background: darkgray;
	color: darkgreen;
	overflow-y: auto;
	overflow-x: hidden;
}

#dbstarred {
	border: 1px solid black;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 20%;
	max-height: 200px;
	background: darkgray;
	color: blue;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 1s;
}

.dbpanel, .dbpanel>div:last-child>div {
	height: 100%;
}

.dbpanel>div:last-child {
	position: absolute;
	top: 30px;
	bottom: 1px;
	left: 0px;
	right: 0px;
}

.rcol {
	border: 1px solid black;
	float: right;
	width: 20%;
	height: 100%;
	background: black;
	color: green;
	overflow-x: hidden;
}

.data {
	border: 1px solid black;
	width: 79%;
	height: 100%;
	background: gray;
	overflow: auto;
}

.blbox {
	border: 1px solid black;
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 90px;
	background: black;
	color: green;
}

.gbp {
	border: 1px solid green;
	padding: 5px;
	margin: 5px;
	text-align: center;
}