#dbpanels {
	border: 1px solid black;
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 100px;
	background: gray;
}

#dbitems {
	border: 1px solid black;
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	width: 90px;
	background: darkgray;
	color: darkgreen;
}

#dbqueries {
	border: 1px solid black;
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 90px;
	background: black;
	color: green;
}

#dbstarred {
	border: 1px solid black;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 20%;
	background: darkgray;
	color: blue;
}

.rcol {
	border: 1px solid black;
	float: right;
	width: 20%;
	height: 100%;
	background: black;
	color: green;
}

.data {
	border: 1px solid black;
	width: 80%;
	height: 100%;
	background: gray;
}
